<h2 style="margin-top: 96px;">
  {{ include.section.title }}
</h2>

<div id={{ include.section.id }} class="row" style="margin-bottom: 96px;">
  {% for work_path in include.section.works %}
  {%- assign work = site.work | where: "path", work_path | first -%}

  {% if work.images.first %}
    <div class="col-12 col-sm-6 col-md-4" style="text-align: center;">
      <a href={{ work.url }} class="overlay-container">
        <img class="img" src={{ work.images.first }} alt="{{ work.title }}" style="max-width: 100%; display: block;">
        <div class="overlay">
          <p class="overlay-text">{{ work.title }}</p>
        </div>
      </a>
    </div>
  {% endif %}

  <!-- GitHub Version -->

  {%- assign github_link = "https://github.com/" | append: work.owner | append: "/" | append: work.repo -%}

  <div class="col-12 col-sm-6 col-md-4">
    <div style="margin-top: 32px; margin-bottom: 32px;">
      <h3>{{ work.title | default: work.repo }}</h3>
      <p id="{{ work.repo }}-description">{{ work.description | markdownify }}</p>
      <p id="{{ work.repo }}-languages">
        {% for keyword in work.keywords %}
        <span class="badge badge-secondary">{{ keyword }}</span>
        {% endfor %}
      </p>
      <p>
        View this project on:
        <a id="{{ work.repo }}-link" href="{{ github_link }}" title="GitHub {{ work.repo }}" target="_blank">
          <i class="{{ site.data.icons.GitHub.fa_icon }} fa-lg"></i>
        </a>
      </p>
    </div>
  </div>

  {% endfor %}
</div>
