{%- case site.data.theme.type -%}
{%- when 'Designer' -%}
{%- when 'Developer' -%}
  <h2 style="margin-top: 96px;">
    {{ include.section.title }}
  </h2>
{%- endcase -%}

<div id="{{ include.section.id }}" class="row">
  {%- assign work_count = include.section.works.size | modulo: 3 -%}
  {%- assign work_count = include.section.works.size | minus: work_count -%}

  {% for work_path in include.section.works limit:work_count %}
  {%- assign work = site.work | where: 'path', work_path | first -%}

  {% case include.section.type %}
  {% when 'Graphical' %}
  {% include sections/work-graphical.html work=work position=forloop.index0 %}
  {% when 'GitHub' %}
  {% include sections/work-github.html work=work %}
  {% endcase %}

  {% endfor %}
</div>
