<footer style="margin-bottom: 96px;">
  <div class="row footer-row">
    <div class="col-12 col-md-6">
      <p>Copyright {{ "©" }} {{ site.time | date: "%Y" }} {{ site.data.info.company_name | default: site.data.info.name }}</p>
    </div>

    <div class="col-12 col-md-6 footer-social-col">
      <ul class="list-inline">
        {% for social in site.data.socials %}
        <li class="list-inline-item">
          <a href="{{ social.url | escape }}" title="{{ social.title }}" target="_blank" style="font-size:1rem; margin: 0 7px;">
            <i class="{{ site.data.icons[social.icon].fa_icon }}"></i>
          </a>
        </li>
        {%- endfor -%}
      </ul>
    </div>
  </div>
</footer>
