---
---

@charset 'utf-8';
{% assign theme = site.data.theme %}


// Font Families

{% assign font_families = "" | split: "" %}

{% for font in theme.fonts.google_fonts %}
{% assign family = font.name | split: " " | join: "+" | append: ":" | append: font.weights %}
{% assign font_families = font_families | push: family %}

{% case font.type %}
{% when "monospace" %}
  {% assign monospace = font.name %}
{% when "sans-serif" %}
  {% assign sans_serif = font.name %}
{% endcase %}

{% endfor %}

@import url('https://fonts.googleapis.com/css?family={{ font_families | join: "|" }}');

{% if monospace %}
$font-family-monospace: {{monospace}}, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
{% endif %}

{% if sans_serif %}
$font-family-sans-serif: {{sans_serif}}, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, monospace;
{% else %}
$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
{% endif %}

$font-family-base: $font-family-sans-serif;

// Font Weights

$font-weight-normal: {{ theme.fonts.weight.normal | default: 400 }};
$font-weight-bold: {{ theme.fonts.weight.bold | default: 700 }};
$font-weight-light: {{ theme.fonts.weight.light | default: 300 }};

$display1-weight: $font-weight-light;
$display2-weight: $font-weight-light;
$display3-weight: $font-weight-light;
$display4-weight: $font-weight-light;


// Font Sizes

$font-size-base: {{ theme.fonts.size.base | append: "rem" }};

$h1-font-size: 1.4rem;
$h2-font-size: 1.3rem;
$h3-font-size: 1.2rem;
$h4-font-size: 1.1rem;
$h5-font-size: 1.0rem;
$h6-font-size: 0.9rem;


// Line Heights

$headings-line-height: 2;
$line-height-base: 1.9;


// Colors

$body-color: {{ theme.colors.font }};
$primary: {{ theme.colors.brand }};
$secondary: {{ theme.colors.font }};
$navbar-light-active-color: {{ theme.colors.font }};

$link-hover-decoration: none;


// Grid

$grid-gutter-width: 32px;


// Theme

@import 'theme';
