---
new_page_extension: md
auto_deploy: false
admin_path: "/admin/"
webhook_url: 
sections:
- type: directory
  path: _work
  label: Work
  create: all
  match: "**/*"
  templates:
  - work
- type: jekyll-posts
  label: Posts
  create: none
  hidden: true
- type: jekyll-pages
  label: Pages
  create: none
- type: directory
  path: _data
  label: Information
  create: all
  match: "**/*"
  exclude: "*(menus|icons).yml"
  new_doc_ext: yml
  templates:
  - data-icons
  - data-socials
  - data-info
  - data-theme
upload_dir: uploads
public_path: "/uploads"
front_matter_path: ''
use_front_matter_path: false
file_template: ":year:/:month:/:day:/:filename:"
