---
new_page_extension: md
auto_deploy: false
admin_path: "/admin/"
webhook_url: 
collections:
- path: _work
  default_front_matter_template: work
  templates:
  - work
- path: _posts
  create: none
  hidden: true
- path: ''
  create: none
upload_dir: uploads
public_path: "/uploads"
front_matter_path: ''
use_front_matter_path: false
file_template: ":year:/:month:/:day:/:filename:"
