---
new_page_extension: md
auto_deploy: false
admin_path: "/admin/"
webhook_url: 
sections:
- type: directory
  path: _work
  label: Work
  create: all
  match: "**/*"
  templates:
  - work
- type: jekyll-posts
  label: Posts
  create: none
  hidden: true
- type: jekyll-pages
  label: Pages
  create: none
- type: heading
  label: Information
- type: document
  path: _data/info.yml
  label: General
- type: document
  path: _data/socials.yml
  label: Social Accounts
- type: document
  path: _data/theme.yml
  label: Theme
- type: document
  path: _data/fa-icons.yml
  label: FA Icons
  read_only: true
upload_dir: uploads
public_path: "/uploads"
front_matter_path: ''
use_front_matter_path: false
file_template: ":year:/:month:/:day:/:filename:"
