---
layout: default
---

<div class="container">
  {% include header.html menu=page.nav_menu %}

  <div class="row justify-content-md-center" style="text-align: center; padding: 128px 0; font-size: 2rem;">
    <div class="col-12 col-md-8">
      {{- content -}}
    </div>
  </div>

  {% for section in page.sections %}

    {% case section.template %}
    {% when "partial-collection" %}
      {% include sections/collection.html section=section %}
    {% when "partial-columns" %}
      {% include sections/columns.html section=section %}
    {% when "partial-github" %}
      {% include sections/github.html section=section %}
    {% endcase %}

  {% endfor %}

  {% include footer.html %}
</div>
